@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 5px;
    text-align: center;
    justify-content: center;
    text-align: center;

    .carousel {
        max-width: 600px;
        margin: auto;
    }

    //logo de wpp y logo carrito
    .compra {
        position: fixed;
        bottom: 0;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        width: 100%;
        //logo carrito
        .verCarrito {
            width: 50px;
            height: 50px;
            margin: 15px 25px;
            cursor: pointer;
        }

        .wpp {
            margin: 5px;
            text-decoration: none;
            background-color: green;
            width: 70px;
            height: 70px;
            border-radius: 55%;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: calc(70px + 10px);
                height: calc(70px + 10px);
                border: 2px solid #44bd32;
                border-radius: 50%;
                animation: wpp 1.5s linear infinite;
                margin: -6px -40px;
            }

            &::after {
                animation-delay: 0.4s;
            }

            @keyframes wpp {
                0% {
                    transform: scale(0.5);
                    opacity: 0;
                }

                50% {
                    transform: scale(1);
                    opacity: 1;
                }

                100% {
                    transform: scale(1.4);
                    opacity: 0;
                }
            }

            .fa-whatsapp {
                align-items: center;
                font-size: 4em;
                color: white;
                position: absolute;
                margin: 3px 0px 3px -27px;
            }
        }
    }

    //carrito del shop
    .cart{
        position: fixed;
        top: 0;
        right: -100%;
        width: 300px;
        min-height: 100vh;
        padding: 10px;
        background-color: white;
        box-shadow: -2px 0 4px rgb(95, 62, 62);
        z-index: 11;
        transition: 0.3s;
        .cart-title{
            text-align: center;
            margin-top: 15px;
        }
        .cart-box{
            display: grid;
            grid-template-columns: 32% 50% 18%;
            align-items: center;
            margin-top: 10px;
            border: 1px solid #2b2f31;
            padding: 5px;
            .cart-img{
                width: 80px;
                object-fit: contain;
            }
            .detail-box{
                display: grid;
                row-gap: 0.5rem;
                .cart-product-tittle{
                    text-transform: uppercase;
                    font-size: 1em;
                }
                .cart-price{
                    font-weight: 500;
                }
                .cart-quantity{
                    border: 1px solid black;
                    outline-color: red;
                    width: 2.4rem;
                    text-align: center;
                    font-size: 1rem;
                }
            }
            .cart-remove{
                font-size: 24px;
                cursor: pointer;
                color: rgb(253, 69, 69);
            }
        }
        .total{
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;
            border-top: 1px solid black;
            .total-title{
                font-size: 16px;
                font-weight: 600;
            }
            .total-price{
                margin-left: 10px;
            }
        }
        .btn-buy{
            display: flex;
            margin: 1.5rem auto;
            border: none;
            background-color: rgb(38, 216, 121);
            &:hover{
                background: rgb(17, 167, 87);
            }
        }
        #close-cart{
            position: absolute;
            top: 1rem;
            right: 0.8rem;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
    .cart.active{
        right: 0;
    }


    h1 {
        margin: 3px;
        font-family: 'Aboreto', cursive;
    }

    h3 {
        font-size: 1em;
        font-family: 'Aboreto', cursive;
        margin-top: 10px;
    }

    h2,
    h4{
        font-family: 'Aboreto', cursive;
        font-size: 1em;
    }

    h5 {
        font-size: .9em;
    }

    //api wpp
    .pedido {
        border: 1px solid rgb(213, 79, 213);
        border-radius: 5px;
        padding: 3px;
        text-decoration: none;
        background-color: white;
        color: purple;
        border-color: purple;
        font-size: 1em;
        font-family: 'DynaPuff', cursive;

        &:hover {
            background-color: purple;
            color: white;
        }
    }

    //shop hamburguesas
    .burguers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
        font-family: 'DynaPuff', cursive;
        position: relative;

        .card {
            max-width: 180px !important;
            margin: 10px;
            border-color: purple;
            box-shadow: rgba(240, 46, 170, 0.2) 2px 2px, rgba(240, 46, 170, 0.1) 5px 5px, rgba(240, 46, 170, 0.05) 10px 10px;
            .card-body{
                padding: 0;
                .product-title{
                    margin-top: 10px;
                }
            }
            .btn {
                background-color: white;
                color: purple;
                border-color: purple;
                font-family: 'DynaPuff', cursive;
                font-size: 0.9em;
                margin: 5px;
                .fa-cart-shopping{
                    width: 25px;
                }

                &:hover {
                    background-color: purple;
                    color: white;
                }
            }

            //?VENTANAS EMERGENTES
            .modal_container {
                display: flex;
                position: fixed;
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.7);
                align-items: center;
                justify-content: center;
                pointer-events: none;
                left: 0;
                right: 0;
                top: 0;
                opacity: 0;
                z-index: 99;
                transition: 0.3s;

                .modal_ {
                    background-color: #fff;
                    max-width: 600px;
                    padding: 30px 10px;
                    border-radius: 5px;
                    margin: auto 15px;
                    text-align: center;
                }
            }

            .open_close {
                opacity: 1;
                pointer-events: auto;
            }

            //?FIN EMERGENTES
        }
    }

    footer {
        background-color: #2b2f31;
        display: flex;
        justify-content: space-around;

        p {
            color: white;
            font-size: 1em;
            font-family: 'Aboreto', cursive;
            margin: 5px 0 10px;
        }
    }
}