* {
    margin: 0;
    padding: 0;
}

body {
    padding: 5px;
    text-align: center;

    .wpp {
        position: fixed;
        bottom: 0;
        z-index: 10;
        display: flex;
        align-items: flex-start;
        margin: 20px;
        text-decoration: none;
        background-color: white;
        width: 51px;
        height: 57px;
        border-radius: 55%;

        .fa-whatsapp {
            font-size: 4em;
            color: green;
            position: absolute;
        }
    }


    h1 {
        margin: 3px;
    }

    h2 {
        font-size: 1em;
    }

    .pedido {
        border: 1px solid rgb(213, 79, 213);
        border-radius: 5px;
        padding: 3px;
        text-decoration: none;
        background-color: white;
        color: purple;
        border-color: purple;
        font-size: 1em;

        &:hover {
            background-color: purple;
            color: white;
        }
    }

    .burguers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;

        .card {
            max-width: 130px !important;
            margin: 10px;
            border-color: purple;
            box-shadow: rgba(240, 46, 170, 0.2) 2px 2px, rgba(240, 46, 170, 0.1) 5px 5px, rgba(240, 46, 170, 0.05) 10px 10px;

            .btn {
                background-color: white;
                color: purple;
                border-color: purple;

                &:hover {
                    background-color: purple;
                    color: white;
                }
            }
        }
    }
}