@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body .carousel {
  max-width: 500px;
  margin: auto;
}

body .compra {
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

body .compra .verCarrito {
  width: 50px;
  height: 50px;
  margin: 15px 25px;
  cursor: pointer;
}

body .compra .wpp {
  margin: 5px;
  text-decoration: none;
  background-color: green;
  width: 70px;
  height: 70px;
  border-radius: 55%;
}

body .compra .wpp::before, body .compra .wpp::after {
  content: "";
  position: absolute;
  width: calc(70px + 10px);
  height: calc(70px + 10px);
  border: 2px solid #44bd32;
  border-radius: 50%;
  -webkit-animation: wpp 1.5s linear infinite;
          animation: wpp 1.5s linear infinite;
  margin: -6px -40px;
}

body .compra .wpp::after {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes wpp {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes wpp {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

body .compra .wpp .fa-whatsapp {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4em;
  color: white;
  position: absolute;
  margin: 3px 0px 3px -27px;
}

body .cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  min-height: 100vh;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: -2px 0 4px #5f3e3e;
          box-shadow: -2px 0 4px #5f3e3e;
  z-index: 11;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .cart .cart-title {
  text-align: center;
  margin-top: 15px;
}

body .cart .cart-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32% 50% 18%;
      grid-template-columns: 32% 50% 18%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  border: 1px solid #2b2f31;
  padding: 5px;
}

body .cart .cart-box .cart-img {
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

body .cart .cart-box .detail-box {
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
}

body .cart .cart-box .detail-box .cart-product-tittle {
  text-transform: uppercase;
  font-size: 1em;
}

body .cart .cart-box .detail-box .cart-price {
  font-weight: 500;
}

body .cart .cart-box .detail-box .cart-quantity {
  border: 1px solid black;
  outline-color: red;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

body .cart .cart-box .cart-remove {
  font-size: 24px;
  cursor: pointer;
  color: #fd4545;
}

body .cart .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1rem;
  border-top: 1px solid black;
}

body .cart .total .total-title {
  font-size: 16px;
  font-weight: 600;
}

body .cart .total .total-price {
  margin-left: 10px;
}

body .cart .btn-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem auto;
  border: none;
  background-color: #26d879;
}

body .cart .btn-buy:hover {
  background: #11a757;
}

body .cart #close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 1.5rem;
  cursor: pointer;
}

body .cart.active {
  right: 0;
}

body h1 {
  margin: 3px;
  font-family: 'Aboreto', cursive;
}

body h3 {
  font-size: 1em;
  font-family: 'Aboreto', cursive;
  margin-top: 10px;
}

body h2,
body h4 {
  font-family: 'Aboreto', cursive;
  font-size: 1em;
}

body h5 {
  font-size: .9em;
}

body .pedido {
  border: 1px solid #d54fd5;
  border-radius: 5px;
  padding: 3px;
  text-decoration: none;
  background-color: white;
  color: purple;
  border-color: purple;
  font-size: 1em;
  font-family: 'DynaPuff', cursive;
}

body .pedido:hover {
  background-color: purple;
  color: white;
}

body .burguers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  font-family: 'DynaPuff', cursive;
  position: relative;
}

body .burguers .card {
  max-width: 130px !important;
  margin: 10px;
  border-color: purple;
  -webkit-box-shadow: rgba(240, 46, 170, 0.2) 2px 2px, rgba(240, 46, 170, 0.1) 5px 5px, rgba(240, 46, 170, 0.05) 10px 10px;
          box-shadow: rgba(240, 46, 170, 0.2) 2px 2px, rgba(240, 46, 170, 0.1) 5px 5px, rgba(240, 46, 170, 0.05) 10px 10px;
}

body .burguers .card .card-body {
  padding: 0;
}

body .burguers .card .card-body .product-title {
  margin-top: 10px;
}

body .burguers .card .btn {
  background-color: white;
  color: purple;
  border-color: purple;
  font-family: 'DynaPuff', cursive;
  font-size: 0.9em;
  margin: 5px;
}

body .burguers .card .btn:hover {
  background-color: purple;
  color: white;
}

body .burguers .card .modal_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  z-index: 99;
}

body .burguers .card .modal_container .modal_ {
  background-color: #fff;
  max-width: 600px;
  padding: 30px 10px;
  border-radius: 5px;
  margin: auto 15px;
  text-align: center;
}

body .burguers .card .open_close {
  opacity: 1;
  pointer-events: auto;
}

body footer {
  background-color: #2b2f31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body footer p {
  color: white;
  font-size: 1em;
  font-family: 'Aboreto', cursive;
  margin: 5px 0 10px;
}
/*# sourceMappingURL=style.css.map */