@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body .carousel {
  max-width: 500px;
  margin: auto;
}

body .compra {
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

body .compra .verCarrito {
  width: 50px;
  height: 50px;
  margin: 15px 25px;
  cursor: pointer;
}

body .compra .wpp {
  margin: 5px;
  text-decoration: none;
  background-color: green;
  width: 70px;
  height: 70px;
  border-radius: 55%;
}

body .compra .wpp::before, body .compra .wpp::after {
  content: "";
  position: absolute;
  width: calc(70px + 10px);
  height: calc(70px + 10px);
  border: 2px solid #44bd32;
  border-radius: 50%;
  -webkit-animation: wpp 1.5s linear infinite;
          animation: wpp 1.5s linear infinite;
  margin: -6px -40px;
}

body .compra .wpp::after {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes wpp {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes wpp {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}

body .compra .wpp .fa-whatsapp {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4em;
  color: white;
  position: absolute;
  margin: 3px 0px 3px -27px;
}

body h1 {
  margin: 3px;
  font-family: 'Aboreto', cursive;
}

body h3 {
  font-size: 1em;
  font-family: 'Aboreto', cursive;
  margin-top: 10px;
}

body h2,
body h4 {
  font-family: 'Aboreto', cursive;
  font-size: 1em;
}

body h5 {
  font-size: .9em;
}

body .pedido {
  border: 1px solid #d54fd5;
  border-radius: 5px;
  padding: 3px;
  text-decoration: none;
  background-color: white;
  color: purple;
  border-color: purple;
  font-size: 1em;
  font-family: 'DynaPuff', cursive;
}

body .pedido:hover {
  background-color: purple;
  color: white;
}

body .burguers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  font-family: 'DynaPuff', cursive;
  position: relative;
}

body .burguers .card {
  max-width: 130px !important;
  margin: 10px;
  border-color: purple;
  -webkit-box-shadow: rgba(240, 46, 170, 0.2) 2px 2px, rgba(240, 46, 170, 0.1) 5px 5px, rgba(240, 46, 170, 0.05) 10px 10px;
          box-shadow: rgba(240, 46, 170, 0.2) 2px 2px, rgba(240, 46, 170, 0.1) 5px 5px, rgba(240, 46, 170, 0.05) 10px 10px;
}

body .burguers .card .btn {
  background-color: white;
  color: purple;
  border-color: purple;
  font-family: 'DynaPuff', cursive;
  font-size: 0.9em;
}

body .burguers .card .btn:hover {
  background-color: purple;
  color: white;
}

body .burguers .card .modal_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  z-index: 99;
}

body .burguers .card .modal_container .modal_ {
  background-color: #fff;
  max-width: 600px;
  padding: 30px 10px;
  border-radius: 5px;
  margin: auto 15px;
  text-align: center;
}

body .burguers .card .modal_container .modal_ .carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .burguers .card .open_close {
  opacity: 1;
  pointer-events: auto;
}

body footer {
  background-color: #2b2f31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body footer p {
  color: white;
  font-size: 1em;
  font-family: 'Aboreto', cursive;
  margin: 5px 0 10px;
}
/*# sourceMappingURL=style.css.map */